@import '../../styles/variables.scss';

.about {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
    @include responsive($breakpoint-tablet) {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }
  
  &__illustration {
    @include flex-center;
    
    img, svg {
      width: 100%;
      max-width: 450px;
      height: auto;
      filter: drop-shadow(0 8px 24px rgba(66, 133, 244, 0.2));
      animation: float 6s infinite ease-in-out;
      
      @include responsive($breakpoint-mobile) {
        max-width: 320px;
      }
    }
  }
  
  &__text {
    h3 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
      color: $google-blue;
      
      @include responsive($breakpoint-mobile) {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
    
    p {
      font-size: 1rem;
      line-height: 1.8;
      color: $text-secondary;
      margin-bottom: 1rem;
      
      @include responsive($breakpoint-mobile) {
        font-size: 0.9rem;
      }
    }
  }
}
